*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  --lilás: #A502A4;
  --azul: #4E00A3;
  --roxo: #590098;
  --azul-escuro: #160251;
  --rosa: #FD045F;
  --branco: #fbfbfb;
}
body{
  background: url(/image/bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  text-align: center;
  margin: 2rem auto 0;
  color: #dfdfdf;
  text-shadow: 1px 1px 10px #ffffff80;
}
.input-container{
  display: flex;
  justify-content: center;
}
